@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Shrikhand&display=swap');

body {
    margin: 0;
    background-color: white;
}

/* HEADER */

.header-conteiner {
    border-bottom: solid 2px #C6C6C6;
    display: flex;
    justify-content: flex-start;
    padding-top: 20px;
    padding-bottom: 10px;
}

.header-logo {
    width: 40%;
    max-width: 200px;
    margin: auto;
    padding-right: 40px;
}

.header-arrow {
    margin-left: 20px;
}

.header-icon {
    font-size: 30px;
    color: black;
}




/* RESTAURANT */

.restaurant {
    display: flex;
    flex-direction: column;
}

.restaurant-image {
    width: 100%;
    max-height: 400px;
    display: inline;
    object-fit: cover;
}


@media screen and (min-width: 960px) {
    .restaurant-menu {
        display: flex;
        width: 100%;
        flex-direction: row;
    }   

    .foods {
        width: inherit;
    }

    .restaurant-card {
        width: 80%;
        margin: 0 auto;
        display: flex;
        flex-direction: column;
    }
    
}
@media screen and (max-width: 959px) {
    .restaurant-menu {
        display: flex;
        flex-direction: column;
        width: 100%;
    }   

    .restaurant-card {
        width: 100%;
        margin: 0 auto;
        display: flex;
        flex-direction: column;
    }
    
}

.restaurant-name-div {
    background-color: #f3f3f3;
    border-radius: 40px 40px 0px 0px;
    margin-top: -40px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    padding-top: 10px;
}

.restaurant-name {
    font-family: 'Shrikhand', cursive;
    letter-spacing: 1px;
    text-align: start;
    padding-left: 20px;
}

.restaurant-heart {
    font-size: 30px;
    width: 100;
    padding-right: 40px;
}

.foods {
    background-color: #f3f3f3;
    margin-top: 0px;
    padding-left: 20px;
    padding-right: 20px;
    padding-top: 20px;
}

.foods-title {
    font-family: 'Roboto', sans-serif;
    font-weight: 300;
    font-size: 20px;
    text-transform: uppercase;
    margin: 0px;
}

.foods-border {
    display: block;
    border: 2px solid #99e2d0;
    width: 45px;
    margin-top: 5px;
}

.food {
    display: flex;
    background-color: white;
    width: 100%;
    max-width: 960px;
    margin-top: 20px;
    margin-bottom: 20px;
    border-radius: 20px;
    box-shadow: 0px 0px 15px 9px rgba(0, 0, 0, 0.098);
    animation: food-in .6s;
    animation-timing-function: cubic-bezier(.5,1.58,.34,.82);
    animation-fill-mode: both;
}

@for $i from 1 through 9 {
    .food:nth-child(#{$i}n) {
        animation-delay: #{$i * 0.1}s;
    }
}

@keyframes food-in {
    0% {
        opacity: 0%;
        transform: translateY(100px);
    }
    100% {
        opacity: 100%;
    }
}

.food-div1 {
    display: flex;
    width: 80%;
    flex-direction: column;
    justify-content: space-between;
    align-items: flex-start;
    padding-left: 15px;
    padding-top: 15px;
    padding-bottom: 15px;
}

.food-name {
    margin: 0px;
    font-family: 'Roboto', sans-serif;
    font-weight: 600;
    font-size: 15px;
    padding-bottom: 6px;
}

.food-desc {
    margin: 0px;
    font-family: 'Roboto', sans-serif;
    font-weight: 400;
    font-size: 14px;
}

.food-div2 {
    width: 20%;
    display: flex;
    flex-direction: column-reverse;
    align-items: flex-end;
}

.food-price {
    font-family: 'Roboto', sans-serif;
    font-weight: 600;
    padding-bottom: 15px;
    padding-right: 10px;
}


@media screen and (min-width: 960px) {
    .order-link {
        width: 60%;
        max-width: 400px;
        display: block;
        text-decoration: none !important;
    }

    .order-title {
        display: block;
        background: rgb(255,121,218);
        background: linear-gradient(170deg, rgba(255,121,218,1) 0%, rgba(147,86,220,1) 100%);
        min-width: 100%;
        text-align: center;
        color: white;
        font-family: 'Roboto', sans-serif;
        font-size: 18px;
        border-radius: 50px;
        padding-top: 17px;
        margin-left: -50px;
        padding-bottom: 17px;
        box-shadow: 0px 0px 15px 9px rgba(0, 0, 0, 0.098);
    }

    .order {
        background-color: #f3f3f3;
        width: 80%;
        display: flex;
        margin: auto;
        justify-content: center;
        padding-bottom: 40px;
        padding-top: 50px;
    }

}
@media screen and (max-width: 959px) {
    .order {
        background-color: #f3f3f3;
        width: 100%;
        display: flex;
        margin: auto;
        justify-content: center;
        padding-bottom: 40px;
        padding-top: 50px;
    }

    .order-link {
        width: 60%;
        max-width: 400px;
        display: block;
        text-decoration: none !important;
    }

    .order-title {
        display: block;
        background: rgb(255,121,218);
        background: linear-gradient(170deg, rgba(255,121,218,1) 0%, rgba(147,86,220,1) 100%);
        min-width: 100%;
        text-align: center;
        color: white;
        font-family: 'Roboto', sans-serif;
        font-size: 14px;
        border-radius: 50px;
        padding-top: 17px;
        padding-bottom: 17px;
        box-shadow: 0px 0px 15px 9px rgba(0, 0, 0, 0.098);
    }
}

/* footer */

.footer {
    background-color: rgb(53, 53, 53);
    padding-left: 10%;
    padding-top: 20px;
    padding-bottom: 20px;
}

.footer-title {
    font-family: 'Shrikhand', cursive;
    font-size: 20px;
    color: white;
    font-weight: 400;
    letter-spacing: 1px;
}

.footer-text {
    color: white;
    font-weight: 400;
    margin: 0;
    margin-bottom: 5px;
    font-family: 'Roboto', sans-serif;
}

.footer-bold {
    font-weight: 600 !important;
}

.footer-flex {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
}

.footer-icon {
    color: white;
    font-size: 15px;
    margin-right: 10px;
}