/* RESTAURANT */
.card {
    display: flex;
    flex-direction: column;

    &__image {
        width: 100%;
        max-height: 400px;
        display: inline;
        object-fit: cover;
    }
    
    &__flex {
        margin: 0 auto;
        display: flex;
        flex-direction: column;
    }

    &__conteiner {
        background-color: #f3f3f3;
        border-radius: 40px 40px 0px 0px;
        margin-top: -40px;
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: space-between;
        padding-top: 10px;
    }

    &__title {
        font-family: 'Shrikhand', cursive;
        letter-spacing: 1px;
        text-align: start;
        padding-left: 20px;
    }

    &__heart {
        height: 25px;
        width: 25px;
        position: relative;
        cursor: pointer;
        &:hover {
            .card__icon--bg {
                transform: scale(1);
            }
        }
    }

    &__icon {
        position: absolute;
        right: 0;
        margin-right: 25px;
        font-size: 25px;
        color: black;
    }

    &__icon--bg {
        background: linear-gradient(to top right, #ED74DA, #9356DC);
        background-clip: border-box;
        -webkit-background-clip: text;
        background-clip: text;
        color: transparent;
        transition-property: transform;
        transition-duration: 0.2s;
        opacity: 100;
        transform: scale(0);
    }
}
@media screen and (min-width: 960px) {
    .card__flex {
        width: 80%;
    }
    .menu {
        flex-direction: row;
        justify-content: space-around;
    }
    .menu__col {
        width: 30%;
    }
}
@media screen and (max-width: 959px) { 
    .card__flex {
        width: 100%;
    }
    .menu {
        flex-direction: column;
    }
    .menu__col {
        margin-top: 0px;
        padding-left: 20px;
        padding-right: 20px;
        padding-top: 20px;
        max-width: 100%;
    }
}

/* MENU DU RESTAURANT */
.menu {
    background-color: #f3f3f3;
    display: flex;
    width: 100%;

    &__col {
        background-color: #f3f3f3;
    }

    &__title {
        font-family: 'Roboto', sans-serif;
        font-weight: 300;
        font-size: 20px;
        text-transform: uppercase;
        margin: 0px;
    }
    
    &__border {
        display: block;
        border: 2px solid #99e2d0;
        width: 45px;
        margin-top: 5px;
    }
}

/* PLAT */
.food {
    display: flex;
    justify-content: space-between;
    background-color: white;
    max-width: 100%;
    margin-top: 20px;
    margin-bottom: 20px;
    border-radius: 20px;
    box-shadow: 0px 0px 15px 9px rgba(0, 0, 0, 0.098);
    animation: food-in .7s;
    animation-timing-function: cubic-bezier(.5,1.58,.34,.82);
    animation-fill-mode: both;
    overflow: hidden;

    &__text {
        display: flex;
        flex: 1;
        flex-direction: column;
        justify-content: space-between;
        align-items: flex-start;
        padding-left: 15px;
        padding-top: 15px;
        padding-bottom: 15px;
        overflow: hidden;
        white-space: nowrap;
    }

    &__name {
        margin: 0px;
        font-family: 'Roboto', sans-serif;
        font-weight: 600;
        font-size: 15px;
        padding-bottom: 6px;
        width: 100%;
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
        background: white;
    }

    &__desc {
        margin: 0px;
        font-family: 'Roboto', sans-serif;
        font-weight: 400;
        font-size: 14px;
        width: 100%;
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
        background: white;
    }

    &__price {
        width: 10%;
        display: flex;
        flex-direction: column-reverse;
        align-items: flex-end;
        justify-content: flex-start;
        transition-duration: 0.9s;
        font-family: 'Roboto', sans-serif;
        font-weight: 600;
        padding-bottom: 15px;
        padding-right: 10px;
    }

    &__select {
        width: 20%;
        border-radius: 0px 20px 20px 0px;
        display: block;
        margin-right: -20%;
        height: inherit;
        background: #99e2d0;
        transition-duration: 1s;
        justify-content: flex-end;
    }

    &__confirm {
        background-color: white;
        border-radius: 100%;
        margin: auto;
        margin-top: 23px;
        width: 25px;
        height: 25px;
        display: flex;
        justify-content: center;
        align-items: center;
    }

    &__icon {
        color: #99e2d0;
        animation-timing-function: cubic-bezier(.5,1.58,.34,.82);
        animation-fill-mode: forwards;
        transition: 1s;
        transition-delay: .1s;
    }
}

/* BOUTON COMMANDER */
.order {
    background-color: #f3f3f3;
    width: 80%;
    display: flex;
    margin: auto;
    justify-content: center;
    padding-bottom: 40px;
    padding-top: 50px;

    &__link {
        background: rgb(255,121,218);
        background: linear-gradient(170deg, rgba(255,121,218,1) 0%, rgba(147,86,220,1) 100%);
        color: white;
        box-shadow: 0px 0px 15px 9px rgba(0, 0, 0, 0.098);
        transition-duration: 0.2s;
        display: block;
        width: 30%;
        min-width: 170px;
        text-align: center;
        font-family: 'Roboto', sans-serif;
        padding-top: 17px;
        padding-bottom: 17px;
        border-radius: 50px;
        &:hover {
            transform: scale(1.1);
            cursor: pointer;
            -webkit-box-shadow: 0px 0px 15px 3px rgba(0,0,0,0.26);
            box-shadow: 5px 10px 20px 3px rgba(0,0,0,0.26);
            background: linear-gradient(180deg, rgba(255, 121, 217, 0.793) 0%, rgba(146, 86, 220, 0.805) 100%);
        }
    }
}
@media screen and (min-width: 960px) {
    .order {
        width: 80%;
    }
}
@media screen and (max-width: 959px) {
    .order {
        width: 100%;
    }
}