/* LOCATION */
.location {
    background-color: $sub-header-background;
    display: flex;
    justify-content: center;
    align-items: center;
    padding-top: 15px;
    padding-bottom: 15px;

    &__logo {
        font-size: 17px;
        padding-right: 20px;
    }

    &__text {
        font-size: 17px;
        margin: 0;
        font-weight: 500;
        font-family: 'Roboto', sans-serif;
    }
}

/* explore */
.explore {
    background-color: $section-background;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    align-items: center;

    &__title {
        margin-top: 20px !important;
        margin-bottom: 15px !important;
        color: $title-color;
        text-align: center;
        font-family: 'Roboto', sans-serif;
        margin: 0;
    }

    &__text {
        margin-bottom: 30px !important;
        margin: 0;
        color: $text-color;
        font-weight: 300;
        text-align: center;
        font-family: 'Roboto', sans-serif;
    }

    &__btn {
        display: flex;
        align-items: center;
        justify-content: center;
        height: 46px;
        width: 190px;
        color: $btn-text-color;
        margin-bottom: 50px;
        border: 0 solid transparent;
        border-radius: 30px;
        background: linear-gradient(140deg, $secondary-color 0%, $primary-color 100%);
        transition-duration: 0.2s;
        font-size: 14px;
        font-weight: 500;
        font-family: 'Roboto', sans-serif;
        &:hover {
            transform: scale(1.1);
            cursor: pointer;
            -webkit-box-shadow: 0px 0px 15px 3px rgba(0,0,0,0.26);
            box-shadow: 5px 10px 20px 3px rgba(0,0,0,0.26);
            background: linear-gradient(140deg, rgba(255, 121, 217, 0.793) 0%, rgba(146, 86, 220, 0.805) 100%);
        }
    }
}

/* FONCTIONNEMENT */
.fonction {
    margin-left: 20px;
    margin-right: 20px;
    margin-bottom: 20px;

    &__title {
        margin-top: 40px;
        margin-bottom: 30px;
        color: $title-color;
        font-family: 'Roboto', sans-serif;
    }

    &__btn {
        display: flex;
        margin-left: 10px;
        justify-content: flex-start;
        align-items: center;
        margin-bottom: 26px;
        border: solid 0px transparent;
        border-radius: 15px;
        height: 66px;
        color: $icon-color;
        -webkit-box-shadow: 0px 0px 15px 3px rgba(0,0,0,0.26);
        box-shadow: 5px 10px 20px 3px rgba(0,0,0,0.26);
        background-color: $section-background;
        &:hover {
            color: $primary-color;
            background-color: $hover-background !important;
        }
    }

    &__step {
        background-color: $primary-color;
        width: 22px;
        height: 22px;
        display: flex;
        justify-content: center;
        align-items: center;
        border-radius: 100%;
        position: relative;
        left: -13px;
    }

    &__number {
        margin: 0;
        font-weight: 500;
        font-size: 12px;
        color: $btn-text-color;
        font-family: 'Roboto', sans-serif;
    }

    &__logo {
        margin-left: 20px;
        margin-right: 20px;
        font-size: 18px;
        color: inherit;
    }

    &__text {
        margin: 0;
        font-weight: 500;
        font-size: 14px;
        color: $title-color;
        font-family: 'Roboto', sans-serif; 
    }
}
@media screen and (max-width: 959px) {
    .fonction__conteiner {
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
    }
    .fonction__btn {
        width: 100%;
    }
}
@media screen and (min-width: 960px) {
    .fonction__conteiner {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
    }
    .fonction__btn {
        width: 31.5%;
    }
}

/* LISTE RESTAURANTS */
.restaurants {
    background-color: $section-background;
    padding-left: 20px;
    padding-right: 20px;

    &__title {
        color: $title-color;
        margin: 0;
        padding-top: 40px;
        font-family: 'Roboto', sans-serif;
        margin-bottom: 20px;
    }

    &__conteiner {
        display: flex;
    }
}
@media screen and (max-width: 959px) {
    .restaurants__conteiner {
        flex-direction: column;
    }
}
@media screen and (min-width: 960px) {
    .restaurants__conteiner {
        flex-wrap: wrap;
    }
}

/* CARTE RESTAURANT */
.restaurant {
    box-shadow: 0px 0px 15px 11px rgba(0, 0, 0, 0.128);
    border-radius: 20px;
    margin-bottom: 25px;
    position: relative;

    &__image {
        width: 100%;
        border-radius: 20px 20px 0px 0px;
        object-fit: cover;
        height: 200px;
    }

    &__new {
        background-color: $tertiary-color;
        color: $color-green;
        padding: .5rem;
        border-radius: .125rem;
        position: absolute;
        top: 1rem;
        right: .75rem;
    }

    &__conteiner {
        display: flex;
        justify-content: space-between;
    }

    &__desc {
        display: flex;
        flex-direction: column;
        width: 90%;
    }

    &__name {
        font-family: 'Roboto', sans-serif;
        color: $title-color;
        font-size: 20px;
        margin: 0;
        padding-left: 10px;
        padding-top: 10px;
    }

    &__location {
        font-family: 'Roboto', sans-serif;
        color: $sub-title-color;
        margin: 0;
        font-weight: 400;
        font-size: 17px;
        padding-top: 10px;
        padding-left: 10px;
        padding-bottom: 20px;
    }
}
@media screen and (max-width: 959px) {
    .restaurant {
        width: 100%;
        max-width: 960px;
    }
}
@media screen and (min-width: 960px) {
    .restaurant {
        width: 45vw;
        max-width: 546px;  
        margin-right: 20px;
    }
}